body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
  
}

h1 {
    background-color:plum;
    text-align: center;
}


ion-item {
    --padding-start: 0;
}

ion-button {
    background-color: purple;
}

ion-button.hover{

background-color: plum;

}
#LISTADO {
    text-align:left;
    background-color:steelblue;
    padding-top: 20px;
}

#LISTADO h1 {
    margin-bottom: 10px;
}

#listaProductos {
    margin-bottom: 20px;
}


