
<form #alumnosForm="ngForm" (ngSubmit)="agregarAlumno()">
  <ion-label>Nombre alumno:</ion-label>
  <ion-input required [(ngModel)]="alumno.nombre" placeholder="Ejemplo: Eduardo" name="nombre"></ion-input>

  <ion-label>
    <ion-checkbox [(ngModel)]="alumno.presente" name="presente"></ion-checkbox> Presente
  </ion-label>

  <div>
    <ion-button type="submit">Agregar</ion-button>
  </div>
</form>


<ion-list *ngIf="alumnos.length > 0">
  <ion-item *ngFor="let alumno of alumnos">

    {{ alumno.nombre }}
    <ion-badge slot="end" [color]="alumno.presente ? 'success' : 'danger'">
      {{ alumno.presente ? 'Presente' : 'Ausente' }}
    </ion-badge>
  </ion-item>
</ion-list>