
form {
    max-width: 400px;
    margin: 0 auto; 
    margin-top: 70px;
  }
  

  ion-label {
    display: block; 
    margin-bottom: 8px; 
  }
  
  
  ion-input {
    width: 100%; 
    margin-bottom: 16px; 
  }
  
 
  ion-checkbox {
    margin-bottom: 16px; 
  }
  

  ion-button[type="submit"] {
    width: 100%; 
  }
  